doctype html
html
  head
    title include other static file
    style
      include style.css
  body
    h1 PUG is ultra awesome
    include:markdown-it ../../README.md 
    script
      include style.css    